body {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-color: #CCFFFF;
    margin: 0;
}

#registration {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#registration input {
    height: 50px;
    font-size: 20px;
    width: 330px;
    margin: 5px;
    border: 1px solid #000;
    text-align: center;
    border-radius: 5px;
    transition: border-color .5s ease-out;
}

#btnlogin {
    display: flex;
    width: 330px;
    justify-content: space-between;
    align-items: center;
}

.btnSubmit {
    margin: 0;
    height: 35px;
    border-radius: 53px;
    width: 100px;
    border: 2px solid green;
    background-color: #FF6699;
    font-size: 18px;
}

.login {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login input {
    margin: 0 auto;
    display: block;
    text-align: center;
    height: 30px;
    width: 250px;
    margin-bottom: 5px;
    border: 1px solid black;
    font-size: 18px;
}

.login input:focus {
    background-color: yellow;
}

.links {
    padding: 10px;
    font-size: 20px;
    height: 25px;
    width: 100px;
    color: skyblue;
}

#profilepicimg {}

#profileimg {}

#profilelogo {
    height: 100px;
    width: 200px;
}

#profile-pic {
    height: 100px;
    width: 200px;
    margin-right: 20px;
}

.profile-pic {
    background-color: steelblue;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 2px solid RebeccaPurple;
}

#smallimg {
    height: 100%;
    width: 100%;
    margin-right: 30px;
    border-radius: 25px;
    padding-bottom: 5px;
    object-fit: cover;
}

#frndbtn {
    margin-top: 30px;
    background-color: chartreuse;
    height: 48px;
    width: 300px;
    font-size: 22px;
    border: 1px solid darkgreen;
    color: darkmagenta;
    border-radius: 52px;
}

#welcome {
    /* font-family: Arial; */
    font-family: 'Monoton', cursive;
    font-size: 45px;
    text-align: center;
    color: BlueViolet;
    margin-bottom: -5px;
    margin-top: 2px;
}

#welcome1 {
    height: 500px;
    width: 980px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#loginline {
    font-size: 30px;
    color: Indigo;
}

.profile {
    display: flex;
}

.txt {
    font-family: 'Allura', cursive;
    font-size: 40px;
    font-weight: 500;
}

#findpeople {
    height: 290px;
    width: 273px;
    object-fit: cover;
    border: 2px solid black;
}

.mainfindppl {
    width: 400px;
    padding: 3px;
    margin-left: 700px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.otherprofile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.otherProfilePic {
    height: 450px;
    width: 350px;
}

#fpbox {
    height: 708px;
    width: 615px;
    padding: 5px;
    background: MistyRose;
    text-align: center;
    overflow-y: scroll;
}

.myProfileDisplay {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 60px;
}

.bioMain {
    height: 150px;
    width: 415px;
    margin-right: 310px;
    margin-top: -220px;
}

.wrapper {
    position: relative;
    width: 300px;
    height: 200px;
    background-color: DarkSalmon;
    text-align: center;
    border-radius: 5px;
    animation-name: abc;
    left: 80%;
    top: -559px;
    animation-duration: 2s;
    border: 1px solid black;
}

.linkContainer {
    display: flex;
    margin-left: 778px;
    padding: 40px;
}

@keyframes abc {
    0% {
        left: 90%;
    }

    100% {
        left: 80%;
    }
}

#slide {
    position: absolute;
    left: -100px;
    width: 100px;
    height: 100px;
    background: blue;
    transition: 1s;
}

.wrapper #slide {
    transition: 1s;
    left: 0;
}

#mypropic {
    height: 500px;
    width: 400px;
    margin-left: 288px;
}

#textarea {
    font-size: 18px;
}

.headerPic {
    height: 90px;
    width: 90px;
    margin: 5px;
    margin-right: 15px;
}

.chat {}

.chat-container {
    height: 300px;
    width: 300px;
    overflow-y: scroll;
}

.uploader {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

#chatImage {
    height: 50px;
    width: 50px;
}