body {
    background-image: url('https://images.unsplash.com/photo-1507608869274-d3177c8bb4c7?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80');
    /* object-fit: cover; */
    height: 100%;
    width: 100%;
    background-size: cover;
}

#registration {
    display: flex;
    padding-bottom: 1.25rem;
}

#registration input {
    margin: 0 .25rem;
    height: 50px;
    font-size: 20px;
    min-width: 125px;
    border: 1px solid #eee;
    border-left: 3px solid;
    border-radius: 5px;
    transition: border-color .5s ease-out;
}

.login input, button {
    /* background-color: red; */
    margin: 0 auto;
    display: block;
}

.login input:focus {
    background-color: yellow;
}

#profilepicimg {}

#profileimg {}

#profilelogo {
    height: 100px;
    width: 200px;
}

#profile-pic {
    height: 100px;
    width: 200px;
    margin-right: 20px;
}

.profile-pic {
    background-color: steelblue;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 2px solid RebeccaPurple;
}

#smallimg {
    height: 90px;
    width: 100px;
    margin-right: 30px;
    border-radius: 10px;
    padding-bottom: 5px;
}

#welcome {
    font-family: Arial;
    font-size: 40px;
    text-align: center;
    color: BlueViolet;
}

#welcome1 {
    align: center;
    height: 590px;
    width: 1050px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    marging-top: 100px;
}

#loginline {
    text-align: center;
    font-size: 18px;
    color: Indigo;
}

.profile {
    display: flex;
}